@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

:root {
    --bgWhite: #fff;
    --bgMain: #fff;
    --bgPlay: greenyellow;
    --colorBlack: #000000;
    --borderColor: #bbb;
    --borderBlack: #000000;
    --bgBox: #ccc;
    --bgBoxSelected: #fff;
    --widthBox: 10;
}

body {
    background-color: var(--bgWhite);
}

#container-body {
    width: 100%;
    height: 100vh;
    position: relative;
}

header {
    width: 100%;
    height: 80px;
    background-color: var(--bgWhite);
    color: var(--colorBlack);
    overflow: auto;
}

main {
    padding: 10px 0;
    background-color: var(--bgMain);
    justify-content: center;
    overflow: auto;
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Display: Flex */
header .container #left-header,
header .container #right-header,
header .container #right-header #container-difficolta,
header .container #right-header #menu-difficolta,
header .container #right-header #square-menu,
main,
main #griglia,
main #griglia .box,
footer  {
    display: flex;    
}

/* Align items: Center */
header .container #right-header #container-difficolta,
header .container #right-header #menu-difficolta,
main,
main #griglia .box,
footer {
    align-items: center;
}

/* --------------------------- HEADER --------------------------- */

header .container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/******** LEFT SIDE ********/

header .container #left-header a {
    max-width: 100px;
    padding: 14px;
}
header .container #left-header #titolo {
    margin: auto 0;
    font-size: 1rem;
}

/******** CENTER ********/

header .container #center-header {
    display: flex;
    align-items: center;
}

header .container #center-header #container-display {
    padding: 0.1rem 0.3rem;
    background-color: var(--bgBox);
    border: 4px inset var(--borderColor);
}

header .container #center-header #display {
    padding: 0.5rem 1rem;
    background-color: #000;
    color: red;
    border: 4px outset var(--borderColor);
}

/******** RIGHT SIDE ********/

header .container #right-header,
header .container #right-header #container-difficolta {
    flex: 0 1;
}

/* Darkmode */
header .container #right-header #darkMode {
    width: 50px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    font-size: 30px;
}

/* Difficoltà */
header .container #right-header div:has( #mode),
header .container #right-header div:has(a) {
    margin: auto 0 auto 60px;
}

/* Label */
header .container #right-header label {
    font-size: 1rem;
}

/* Menu icon */
header .container #right-header #menu-difficolta {
    height: 80px;
}
header .container #right-header #square-menu {
    text-align: center;
    position: relative;
    font-size: 25px;
    margin-left: 30px;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: 3px solid var(--borderBlack);
}

/* Select */
header .container #right-header select {
    position: absolute;
    display: none;
    top: -2px;
    left: -10px;
}

/* Menu icon hover */
header .container #right-header #menu-difficolta:hover select {
    display: flex;
    font-weight: 800;
    color: black;
    padding: 17px 0;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Button play */
header .container #right-header a {
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    color: var(--colorBlack);
    border: 3px solid var(--borderBlack);
    background-color: var(--bgPlay);
}


/* --------------------------- MAIN --------------------------- */

/* Griglia */
main #griglia {
    width: 35%;
    flex-wrap: wrap;
}

#gameOver {
    color: var(--colorBlack);
}

#gameOver h4 {
    margin: 0.4rem 0;
}

/* Boxes*/
main #griglia .box {
    width: calc(100% / var(--widthBox));
    aspect-ratio: 1/1;
    justify-content: center;
    cursor: pointer;
    background-color: var(--bgBox);
    border: 4px outset var(--borderColor);
}
main #griglia .box:hover {
    background-color: grey;
}

main #griglia .selected {
    background-color: var(--bgBoxSelected);
}

main #griglia .selected-bomb {
    background-color: #ff0000;
}

/* Bomb */
.fa-solid.fa-bomb.fa-shake {
    font-size: 2.5rem;
    
}

/* --------------------------- FOOTER --------------------------- */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    color: var(--colorBlack);
    background-color: var(--bgWhite);
}

footer div:has(span) {
    width: 90%;
}

footer div span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
}
footer div span i {
    color: #f40b0b;
    font-size: 1.2rem;
}
footer div span a {
    color: blue;
}